# Ignore build results
*.exe
*.obj
*.pdb
*.ilk
*.ipch
*.aps
*.pch
*.log
*.tlog
*.sbr
*.sdf
*.db
*.user
*.suo
*.cache
*.tmp
*.bak
*.lastbuildstate

# Visual Studio folders
.vs/
x64/
Debug/
Release/
*.VC.db
*.VC.opendb

# Build intermediate folders
ipch/
*.tlog/
*.idb
*.ipdb

# CMake
CMakeFiles/
CMakeCache.txt

# Others
*.sln.docstates
